
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
      body {
        color: #000;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 16px;
        line-height: 24px;
      }
      table, th, td {
        border:1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <div>
      Quá trình tải lên nhân viên của bạn đã hoàn thành.
      Dưới đây là kết quả của việc tải lên
    </div>
    <div>
      <table>
        <thead>
          <th>Sheet</th>
          <th>Dòng lỗi</th>
        </thead>
        <tr>
          <td>Nhân viên</td>
          <td>{{ admin }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
